

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
   
}
li,a,button {
font-family: 'Press start 2P';
color: orangered;
}
body {
    color: white;
}
header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 30px 10%;
}
.colorblack {
    background-color: black
    
}
.navbar {
  display: flex;
  flex-wrap: wrap;
   

}
.navbar li {
    display: inline-block;
    padding: 0px 50px 0px 500px;
    margin: 0px 0px 0px 0px;
}
.navbar li a {
    transition: all 0.2s ease 0s;

}
.navbar li a:hover {
    color: royalblue;
    }
button:hover {
    background-color: rgba(red, green, blue, alpha);  
}
h1 {
  display: flex;
    justify-content: center;
    font-family: 'Press Start 2P';
    font-size: 200px;
  }
  .flex-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    
  }
  .flex-items {
  margin-left: 5%;
  max-width: 20vw;
  }
#pic1 {
  margin-left: 70%;
}
.pro {
display: flex;
flex-direction: column;
font-size: 50px;
margin-left: 5%;


}
.pro2 {
  
  
}
h4 {

}
:root {
    --clr-neon: hsl(317 100% 54%);
    --clr-bg: hsl(323 21% 16%);
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  .neon-button {
    font-size: 2rem;
  display: flex;
  flex-wrap: wrap;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
  
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  
    position: relative;
  }
  
  .neon-button::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
  
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
  }
  
  .neon-button::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-neon);
    z-index: -1;
    transition: opacity 100ms linear;
  }
  
  .neon-button:hover,
  .neon-button:focus {
    color: var(--clr-bg);
    text-shadow: none;
  }
  
  .neon-button:hover::before,
  .neon-button:focus::before {
    opacity: 1;
  }
  .neon-button:hover::after,
  .neon-button:focus::after {
    opacity: 1;
  }
  .footer {
    width: 80%;
    height: 20vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: baseline;
    margin: 0 auto;
  }
  .footer-heading {
    display: flex;
    flex-direction: column;
    margin: 4rem;
  }
  #homebutton2 {
    display: flex;
    justify-content: center;
    color: white;
  }
  @media screen and (max-width: 1408px) {
    h1 {
      font-size: 100px;
    }
  }
  @media screen and (max-width: 700px) {
    h1 {
      font-size: 50px;
    }
  }
  @media screen and (max-width: 900px) {
    .flex-items {
      font-size: 25px;
    }
  }